<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Atividade MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar a navegação" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Página Inicial", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Alunos
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Alunos", "Index", "Aluno", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li><hr class="dropdown-divider"></li>
                            <li>@Html.ActionLink("Listar Aluno", "Listar", "Aluno", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Celulares
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Celulares", "Index", "Celular", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li><hr class="dropdown-divider"></li>
                            <li>@Html.ActionLink("Listar Celulares", "Listar", "Celular", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Eventos
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Eventos", "Index", "Evento", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li><hr class="dropdown-divider"></li>
                            <li>@Html.ActionLink("Listar Eventos", "Listar", "Evento", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Carros
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Carros", "Index", "Carro", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li><hr class="dropdown-divider"></li>
                            <li>@Html.ActionLink("Listar Carros", "Listar", "Carro", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET-José Paulo e Vinícius Simões</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap2")
    @RenderSection("scripts", required: false)
</body>
</html>
