@model IEnumerable<WebApplication1.Models.Carro>

@{
    ViewBag.Title = "Lista Carros";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Cadastrar novo Carro", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Placa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cor)
        </td>
        <td>
            @Html.ActionLink("🖊 Editar", "Edit", new { id = Model.ToList<WebApplication1.Models.Carro>().IndexOf(item) })
            @Html.ActionLink("👁 Exibir", "Exibir", new { id = Model.ToList<WebApplication1.Models.Carro>().IndexOf(item) })
            @Html.ActionLink("🗑 Apagar", "Delete", new { id = Model.ToList<WebApplication1.Models.Carro>().IndexOf(item) })
        </td>
    </tr>
}

</table>
